Export Legacy LIS/DMIS data

In [1]:
import os
import datetime
from edc_base.utils import get_utcnow
from dmis_extract import LabData

protocol_identifier = 'BHP085'
database = 'BHPLAB'
date_today = datetime.date.today()
date_today_str = date_today.strftime('%Y%m%d')
path = '/Users/ckgathi/data-exports/tshilo-dikotla/' + date_today_str + '/lab/'
if not os.path.exists(path):
    os.makedirs(path)
date_format = '%Y-%m-%d'
sep = ','
timestamp = get_utcnow().strftime('%Y%m%d%H%M%S')

In [2]:
data = LabData(
    protocol_identifier=protocol_identifier,
    database=database)

data.fetch_received(days=None)

In [3]:
# fetch receiving records
data.fetch_received(days=None)
df_received = data.received.dataframe
df_received.head()

,receive_identifier,received_datetime,subject_identifier,protocol,test_id,drawn_datetime,edc_specimen_identifier,specimen_condition,user_created,user_modified,created,modified
0,YZ83847,2016-09-05,085-40990002-6,BHP085,101,2016-08-31,NA,10,BHP\oelias,BHP\oelias,2016-09-05 10:23:20.320,2016-09-05 10:23:20.320
1,YZ85495,2016-09-06,085-40990006-3,BHP085,605,2016-09-06,0854099U3AZK0201,10,BHP\nkeakantse,BHP\nkeakantse,2016-09-06 15:51:46.570,2016-09-06 15:51:46.570
2,YZ85540,2016-09-06,085-40990006-3,BHP085,401,2016-09-06,0854099U3AZK0201,10,BHP\nkeakantse,BHP\nkeakantse,2016-09-06 15:52:55.853,2016-09-06 15:52:55.853
3,0854099MNMBT0201,2016-09-06,085-40990006-3,BHP085,101,2016-09-06,0854099MNMBT0201,10,BHP\dramalekane,BHP\dramalekane,2016-09-06 16:51:08.743,2016-09-06 16:51:53.790
4,0854099KHFWF3202,2016-09-07,085-40990006-3,BHP085,302,2016-09-06,0854099KHFWF3202,10,BHP\lmramatokwane,BHP\lmramatokwane,2016-09-07 11:02:24.603,2016-09-07 11:02:24.603

In [4]:
# fetch result records
data.fetch_resulted(days=None, merge=True)
df_resulted = data.resulted.dataframe
df_resulted.head()

,receive_identifier,lis_identifier,protocol,report_datetime,panel_id,assay_datetime,utestid,result_value,result_quantifier,user_created,...,subject_identifier,protocol_recv,test_id,drawn_datetime,edc_specimen_identifier,specimen_condition,user_created_recv,user_modified_recv,created_recv,modified_recv
0,YZ83847,YZ83847,BHP085,2016-09-05,101,2016-09-01,CD4,210,=,BHP\rmakwakwa,...,085-40990002-6,BHP085,101,2016-08-31,NA,10,BHP\oelias,BHP\oelias,2016-09-05 10:23:20.320,2016-09-05 10:23:20.320
1,YZ83847,YZ83847,BHP085,2016-09-05,101,2016-09-01,CD4%,15.69,=,BHP\rmakwakwa,...,085-40990002-6,BHP085,101,2016-08-31,NA,10,BHP\oelias,BHP\oelias,2016-09-05 10:23:20.320,2016-09-05 10:23:20.320
2,YZ83847,YZ83847,BHP085,2016-09-05,101,2016-09-01,CD8,587,=,BHP\rmakwakwa,...,085-40990002-6,BHP085,101,2016-08-31,NA,10,BHP\oelias,BHP\oelias,2016-09-05 10:23:20.320,2016-09-05 10:23:20.320
3,YZ83847,YZ83847,BHP085,2016-09-05,101,2016-09-01,CD8%,43.76,=,BHP\rmakwakwa,...,085-40990002-6,BHP085,101,2016-08-31,NA,10,BHP\oelias,BHP\oelias,2016-09-05 10:23:20.320,2016-09-05 10:23:20.320
4,0854099MNMBT0201,0854099MNMBT0201,BHP085,2016-09-07,101,2016-09-06,CD4,607,=,BHP\rmakwakwa,...,085-40990006-3,BHP085,101,2016-09-06,0854099MNMBT0201,10,BHP\dramalekane,BHP\dramalekane,2016-09-06 16:51:08.743,2016-09-06 16:51:53.790

In [5]:
# fetch storage records
data.fetch_stored(days=None, merge=True)
df_stored = data.stored.dataframe
df_stored.head()

,freezer_identifier,freezer_name,rack_identifier,id,qid1x0,row,col,aliquot,aliquot_identifier,aliquot_type,...,version,rid,row_old,col_old,old_sample_id,aliquot_id,lab01_id,box_identifier,box_name,box_comment
0,TA47002,BIORACK42,AY27922,6516182,5e59b818-edca-47a8-a4ee-3d2bf5488c27,A,3,NaN,0854099WM26X3106,PBMC,...,-9,-9,-9,-9,-9,NaN,NaN,ZA02351,ZA02351,-
1,TA47002,BIORACK42,AY27922,6516180,5e59b818-edca-47a8-a4ee-3d2bf5488c27,A,1,NaN,0854099WM26X3107,PBMC,...,-9,-9,-9,-9,-9,NaN,NaN,ZA02351,ZA02351,-
2,TA47002,BIORACK42,AY27922,6516181,5e59b818-edca-47a8-a4ee-3d2bf5488c27,A,2,NaN,0854099TH7B23106,PBMC,...,-9,-9,-9,-9,-9,NaN,NaN,ZA02351,ZA02351,-
3,TA47002,BIORACK42,AY27922,6516183,5e59b818-edca-47a8-a4ee-3d2bf5488c27,A,4,NaN,0854099NA2NX3106,PBMC,...,-9,-9,-9,-9,-9,NaN,NaN,ZA02351,ZA02351,-
4,TA47002,BIORACK42,AY27922,6516184,5e59b818-edca-47a8-a4ee-3d2bf5488c27,A,5,NaN,08540994M2WU3108,PBMC,...,-9,-9,-9,-9,-9,NaN,NaN,ZA02351,ZA02351,-

In [6]:
opts = dict(
    index=False,
    date_format=date_format,
    sep=sep)

filename = os.path.join(path, f'received_{timestamp}.csv')
df_received.to_csv(path_or_buf=os.path.join(path, filename), **opts)

filename = os.path.join(path, f'resulted_{timestamp}.csv')
df_resulted.to_csv(path_or_buf=os.path.join(path, filename), **opts)

filename = os.path.join(path, f'stored_{timestamp}.csv')
df_stored.to_csv(path_or_buf=os.path.join(path, filename), **opts)

In [7]:
print('ctk')

ctk